.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section{
    font-family: roboto;
    font-size: 2rem;
}
.date{
    color: #dc58b2;
}